div.leaflet-marker-icon.location-filter.resize-marker {
    background: url( img/resize-handle.png ) no-repeat;  
    cursor: move;
}
div.leaflet-marker-icon.location-filter.move-marker {
    background: url( img/move-handle.png ) no-repeat;  
    cursor: move;
}

div.location-filter.button-container {
    background-color: white;
/*    background: #bfbfbf;
    background: rgba(0, 0, 0, 0.25);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;
    padding-bottom: 4px;*/
}
.leaflet-container div.location-filter.button-container a {
    color: #6B6B6B;
    font-size: 15px;
    width: 270px;
}
